:root{
  --background-color: grey;
  --main-text-color: white;

  /* ---- Components ---- */

  /* Panel */
  --panel-width: 250px;
  --panel-handle-width: 50px;
  --panel-tray-padding: 2em;
  --panel-close-size: 50px;
  --pannel-close-color: grey;
}
