:root {
    --g2-c-teal:        hsl(190,100%,59%);
    --g2-c-teal-d:      hsl(190,100%,35%);
    --g2-c-purple-l:    hsl(277,34%,63%);
    --g2-c-purple:      hsl(277,27%,23%);
    --g2-c-purple-d:    hsl(253, 33%, 22%);

    /* ---------------------------------------------------------------------- */
    /* Panel */
    /* ---------------------------------------------------------------------- */
    --panel-background: var(--g2-c-teal);

    
}