:root{
/* ========================================================================== */
/* Modula Scale & Vertical Rythem */
/* ========================================================================== */
    /*  I'm using Modular scales to calculate sizes of elements around the site.
        To learn more about Modular Scales:
            - https:/   /type-scale.com/, 
            - (Modular Scale & Vertical Rythem) https://www.bounteous.com/insights/2018/03/26/what-font-are-vertical-rhythm-and-modular-scale/
            - https://www.layoutgridcalculator.com/typographic-scale/
        Comon modular Scales:
            1.067;  Minor Second
            1.125;  Major Second
            1.2;    Minor Third
            1.25;   Major Third
            1.333;  Perfect Fourth
            1.414;  Augmented Fourth
            1.5;    Perfect Fith
            1.618;  Golden Ratio
    */
    --modular-scale:            1.125;
    --scale-base:               1em;
     /* I'm using Vertical Rythem for Line Hights, padding and or magrins, learn more at:
        - https://dev.to/adrianbdesigns/mastering-css-vertical-rhythm-om9
        - https://www.bounteous.com/insights/2018/03/26/what-font-are-vertical-rhythm-and-modular-scale/
        - http://vertical-rhythm.crasman.fi/
        - https://8thlight.com/blog/chris-peak/2012/12/30/vertical-rhythm.html
    
        The --baseline below becomes one rythem unit
    */
    --baseline:                 1.5;
    /* Create the 10 scaleing sizes using em units: */
    --scale-40:                 calc(var(--scale-base) / var(--modular-scale));
    --scale-30:                 calc(var(--scale-40) / var(--modular-scale));
    --scale-20:                 calc(var(--scale-30) / var(--modular-scale));
    --scale-10:                 calc(var(--scale-20) / var(--modular-scale));
    --scale-50:                 var(--scale-base);
    --scale-60:                 calc(var(--scale-50) * var(--modular-scale));
    --scale-70:                 calc(var(--scale-60) * var(--modular-scale));
    --scale-80:                 calc(var(--scale-70) * var(--modular-scale));
    --scale-90:                 calc(var(--scale-80) * var(--modular-scale));
    --scale-100:                calc(var(--scale-90) * var(--modular-scale));

/* ========================================================================== */
/* Base Styles */
/* ========================================================================== */
    --background-color:       hsl(195, 67%, 98%);

    /* -------------------------------------------------------------------------- */
    /* Body Text */
    /* -------------------------------------------------------------------------- */
    --body-font-family:         'Rubik';
    --body-font-size:           1rem; /* Browser 1rem = 16px */
    --main-text-color:        hsl(251, 6%, 36%);

    /* ---------------------------------------------------------------------- */
    /* Headings */
    /* ---------------------------------------------------------------------- */

    /* Heading sizes are calculated based on the type scale above */
    --heading-font-family:      'Karla';
 
    --h1-font-size:             var(--scale-100);
    --h1-font-weight:           300;
    --h1-letter-spacing:        -1.5px;
    --h1-color:                 hsla(214, 100%, 30%, 1);

    --h2-font-size:             var(--scale-90);
    --h2-font-weight:           300;
    --h2-letter-spacing:        -1.5px;
    --h2-color:                 hsla(214, 90%, 35%, 1);

    --h6-font-size:             var(--scale-60);
    --h5-font-size:             var(--scale-60);
    --h4-font-size:             var(--scale-70);
    --h3-font-size:             var(--scale-80);

    --h6-color:                 hsla(214, 40%, 50%, 1);
    --h5-color:                 hsla(214, 50%, 50%, 1);
    --h4-color:                 hsla(214, 60%, 50%, 1);
    --h3-color:                 hsla(214, 70%, 45%, 1);
    --h3-color:                 hsla(214, 80%, 40%, 1);

    /* ---------------------------------------------------------------------- */
    /* Lists */
    /* ---------------------------------------------------------------------- */
    --lists-left-padding:       0;
    --sublist-left-padding:     var(--scale-70);
    --listitem-left-padding:    0;


    /* so if you want a font size to scale with the window width you do calc(1rem + 1vw)  */

  /* ---- Components ---- */

  /* Panel */
  --panel-width:                250px;
  --panel-handle-width:         50px;
  --panel-tray-padding:         2em;
  --panel-close-size:           50px;
  --pannel-close-color:       grey;
}
