
<div class="navPanelToggle">
    <button id="navPanelToggle" class="hamburger hamburger--slider-r" onclick="togglePanel()" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>


<div id="navPanel" class="panel">
    <div class="panel__header">
        {% include 'components/languages.html.twig' %}
    </div>
    <div class="panel__tray">
        <nav>
            {% include 'partials/navigation.html.twig' %}
        </nav>

        <div class="footnote">
            <p>Learn about any of our ministry partners by selecting them from above.</p>
        </div>

    </div>
</div>
