
<div class="navPanelToggle">
    <button id="navPanelToggle" class="hamburger hamburger--slider-r" onclick="togglePanel()" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>


<div id="navPanel" class="panel">
    <div class="panel__tray">
        <div class="panel__tray__header">
            {% if langswitcher %}{% include 'components/languages.html.twig' %}{% endif %}
        </div>
        <nav>
            {% include 'partials/navigation.html.twig' %}
        </nav>

        <div class="footnote">
            <p>© Jeff McArthur 2020</p>
        </div>

    </div>
</div>
